*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json

# JVM crash logs
hs_err_pid*
replay_pid*

# Example tests
app/src/test/java/com/nan/nearbystorefinder/ExampleUnitTest.kt
app/src/androidTest/java/com/nan/nearbystorefinder/ExampleInstrumentedTest.kt

# Common Android/IntelliJ
.idea/
*.iws
out/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
